.interestingfacts{
  font-style: italic;
  }/* add your CSS here */

.favitems{
  list-style: none;
  padding-left: 0px;
}

li span{
  font-weight: bold;
}

.container{
  border: solid 1px #bdc3c7;
  padding: 20px;
  box-shadow: 5px 5px 5px 0px #bdc3c7;
  width: 320px;
  padding-top: 10px;
}

.info{
  border: solid 1px #bdc3c7;
  width: 269px;
  padding: 15px;
  margin-top: 5px;
  text-align: justify;
}
